
#contact  img{
    

    background-size: contain;
    height: 400px;
    opacity: .1;
    width: 100%;
    
}
#seccontact{
    position: absolute;
    right: 0;
    top: 0;
    margin: 150px;
    

}
h1{
    font-size: 50px;
    
    font-family:Arial, Helvetica, sans-serif;

}
p{
    font-size: 20px;
    word-spacing: 3px;
}




.about{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    margin-bottom: 50px;
}
.about img{
    border-radius: 5px;
}
.about p{
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.about button{
    background-color: rgb(59, 23, 221);
    color: rgb(248, 248, 248);
    padding: 15px;
    border: none;
    border-radius: 50px;
    float: right;
}


@media(max-width:600px){
    .about{
        display: block;
        flex-direction: column;
    }
    .about img{
        max-width: 100%;
        justify-content: flex-start;
    }
}
.images{
    display: flex;
}
.images img{
width: 500px;
}