.cards{
    display: flex;
   
}
.reglist{
    background-color: blueviolet;
   padding: 15px 0px 100px 10px;
   width: 30%;
   text-align: center;
    margin: 40px;
    
    border: none;
    border-radius: 10px;
    color: white;
}