#contact 
{
    background-color: rgb(56, 40, 71);
    color: yellow;
    border-radius: 10px;
}
#contact  img{
    

    background-size: contain;
    height: 400px;
    
    width: 100%;
    
}
#seccontact{
    position: absolute;
    right: 0;
    top: 0;
    margin: 150px;
    
}
h1{
    font-size: 50px;
    
    font-family:Arial, Helvetica, sans-serif;

}
p{
    font-size: 20px;
    word-spacing: 3px;
}



#con{
    display: flex;
    width: 30%;
    padding: 20px 20px;
    
    justify-content: space-between;
    
}
#con button{
    background-color: brown;
    color: white;
    border: none;
    float: right;
    border-radius: 5px;
    
}
#message{
    margin-right: 100px;
}
#message h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 3px solid rgb(20, 20, 110);

    
}
#message input{
    padding: 20px 20px;
    border:  1px solid rgba(170, 58, 235, 0.1);
    width: 100%;
    margin-bottom: 10px;
}
#message textarea{
    padding-bottom: 100px;
}
#contactus{
 width: 80%;
 margin-left: 90px;
 border: 1px solid rgb(6, 6, 6,.1);
 padding: 20px 20px;
}
#contactus h3{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight:100 lighter;
color: rgb(49, 48, 48);
}
#contactus p{
    color: rgb(105, 103, 102);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media(max-width:600px){
#contact{
    max-width: 100%;

}
#contact  img{
    height: 150px;
}

#contact h1{
    font-size: larger;
    width: 100%;
}
#con{
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;

}
#message{
    width: 100%;
}
#contactus{
    width: 100%;
    padding: 0;
    margin: 0;
}
    
}








.contactus{
    justify-content: space-around;
    display: flex;
    border-right: 1px solid black;
    background-color: antiquewhite;
    border-radius: 10px;
    margin-left: 10px;
    height: 200px;
   
    
}
.contactus .sec1{
    margin-top: 60px;
    padding-left: 5px;
    border-right: 1px soild black;
}
p{
    size: 40px;
}
.sec1 button{
    border: none;
    background-color: blue;
    color: white;
    padding: 15px 15px;
    border-radius: 7px;

}
@media(max-width:900px){
.contactus{
    display: block;
    flex-direction: column;

}
#message textarea{
    max-width: 100%;
    padding: 0;
}
}
