#available{
    position: absolute;
    color: yellow;
    right: 40%;
    top: 80;
}

.available{
    position: absolute;
    top: 140%;
    right: 50%;
    color: yellow;
   
}

.items{
    display: flex;
    width: 80%;
    height: 500px;
    border: none;
    background-color: rgb(50, 26, 71);
  
    margin-left: 100px;
    z-index: 1;
    margin-top: 50px;
   
    
    
    }
    .items #close{
    
    width: 10%;
    height: 30px;
    float: right;
    background-color: grey;
    border: none;
        
        
    }
    .container{
        justify-self: center;
        width:40%;
        height: 60%;
        border: 1px solid black;
        margin: 30px;
        text-align: center;
        border: none;
        box-shadow: 0px 10px 10px black;
        border-radius: 5px;
        overflow: hidden;
        border: 1px solid white;
        background-color: antiquewhite;
       transition: 0.5s ease-in;
       margin-bottom:500px ;
    }
  
  
    .container img{
        width: 100%;
        height: 180px;
        transition: 0.5s ease-in-out;
    }
    .container button{
        
        padding: 10px 10px;
        margin-bottom: 10px;
        background-color: gray;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.5s ease-out;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .container img:hover{
        transform: scale(1.1);
        height: 200px;
    }
    .container button:hover{
        transform: scale(1.1);
    }
    @media(max-width:600px){
        .items{
            max-width: 100%;
            flex-direction: column;
            padding: 0;
            margin: 0;
        }
        .container{
            width: 100%;
            font-size: small;
           
            margin: 10px;
        }
    }
    
.log {
float: right;
}
 
    .log button{
        background-color: blue;
        border: none;
        margin: 20px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 5px 10px black ;
        color: antiquewhite;
        transition:0.2s ease-in-out;
        text-decoration: none;
        
        
    }
     .log button:hover{
        background-color: blueviolet;
    } 
     .log #user{
        font-size: larger;
        
    }
    .profile{
        height: 0px;
        background-color: rgb(34, 23, 53);
        color: white;
        position: absolute;
      
        right: 0;
        width: 20%;
        border-bottom: 5px;
        border-radius: 5px;
    
        transition: height 0.8s ease-in-out;
       
    }
   
 
    .userdetails .icons span{
        background-color: rgb(27, 44, 59);
        color: yellow;
        border-radius: 50%;
        align-items: center;
        padding: 10px 10px;
        margin-right: 10px;
        gap: 10px;
        display: none;
        transition: 0.9s ease-in-out;

        
    }
    .log:hover  .userdetails .icons span{
        display:inline-block;
    }
    
    #logout{
        margin-top: 60px;
        float: right;
        font-size: larger;
        color: white;
    }
    #logout span{
        padding-left:20px ;
    } 
     .userdetails .user{
        font-size: 70px;
        margin-bottom: 20px;
        color: yellow;
        display: none;
        transition: 0.9s ease-in-out;

    } 
    .log:hover .userdetails .user{
        display: inline-block;
    }
    .userdetails ol{
        list-style-type:none;
    
    }
    .userdetails li{
        padding: 20px 10px;
        text-align: left;
        transition: 0.9s ease-in-out;
        display: none;
        
    
    }
    .log:hover  .userdetails li{
        display: inline-block;
    }
    .userdetails li:hover{
    transform: scale(1.1);
    
    } 
      #logs:hover .profile{
       height: 630px;
      
    } 
    .book{
        backface-visibility: hidden;
        background-color: rgb(49, 49, 49,.8);
        width: 100%;
        min-height: 280vh;
        position: absolute;
        top: 0;
        backdrop-filter: blur(10px);
      
       
    }