.section{
    border: none;
    width: 80%;
    height: auto;
    position: absolute;
    z-index: 1;
    background-color: rgb(35, 22, 66);
    color: white;
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 5px;
}
#close{
    
    
    height: 10%;
    float: left;
    border: none;
    background-color: brown;
    color: white
}