
#containers{
    display: flex;
    justify-content: space-around;
    background-color: rgb(30, 13, 46);
    color: rgb(255, 255, 255,5);
    padding: 25px 25px;
    margin-top: 25px;
    
}
#sec{
    width: 50%;padding: 20px 20px;
}
#sec h1{
    color: yellow;
}
#sec p{
    line-height: 1.2;
}
#foot{
    display: flex;
    justify-content: space-between;
    background-color: rgb(3, 47, 47);
    color: white;
    padding: 10px 10px;
}
#foot p{
    margin-left: 20px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#foot1{
    justify-content:space-evenly;
    
}
#foot1 span{
padding: 10px 20px;
font-size: small;
}
@media(max-width:600px){
    #containers{
        flex-direction: column;
        max-width: 100%;
    }
    #sec{
        width:100%;
        display: block;
    }
    #sec h3{
        font-size: small;
    }
    #sec p{
        width: 100%;
    }
    #foot p{
        font-size: small;
    }
    #foot1 span{
        font-size: small;
        padding: 0;
    }
}