


#image{
    width: 100%;
    height: 150vh;

    background-size:contain;
    scroll-behavior: smooth;
}
#image img{
    max-width: 100%;
}
#homebottom{
    display: flex;
    width: 60%;
    height: 400px;
    justify-self: center;
    background-color: rgb(255, 255, 255,5);
    box-shadow: 0px 3px 3px black;
    position: absolute;
    bottom: -440px;
    left: 0;
    right: 0;
    margin-top: 190px;
    border-radius: 5px;
    overflow: hidden;


}
#container{
    width: 50%;
    white-space: 3px;
    padding: 50px 50px;
}
#container h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container p{
    word-spacing: 2px;
    color: rgb(124, 124, 123);

}
#container button{
  color: rgb(133, 133, 134);
  padding: 15px 15px;
  border-radius: 50px; 

}
#time{
    width: 50%;
    padding: 50px 50px;
    background-color:rgb(143, 128, 240) ;
    color: white;
}



.pic p{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 150px;
    margin-left: 20px;
    width: 50%;
    height: 100px;
    color: rgb(232, 231, 235);

}

  

.heading p{
  font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    
  
} 
.heading{
    display: flex;
    justify-self: center;
}

.pic #search{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 440px;
    margin-left: 20px;
    display: flex;
    border: none;
    background-color: rgba(44, 40, 40, 0.1);
    padding: 10px 10px;
    border-radius: 50px;
    width: 10%;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.pic #search:hover{
    width: 30%;
}
.pic input{
    flex: 1;
    background: transparent;
    margin-left: 10px;
    border: none;
    outline: none;
    
    width: 100%;
}
#icon{
    color: rgb(250, 244, 244,5);
    font-size: 30px;
    align-content: center;
}
.pic input::placeholder{
    color: rgb(255, 251, 251,2);
}
.pic button{
    border: none;
    outline: none;
    background-color: rgb(7, 7, 253);
    color: white;
    padding: 6px 6px;
    width: 80px;
    border-radius: 6px;

}

 
    


@media(max-width:600px){
    
    
    
    .heading{
        flex-direction: column;
        font-size: medium;
    }
    .heading p{
        font-size: small;
    }
    .pic #search{
        display:none;
    }
    #homebottom{
       
        flex-direction: column;
        width: 100%;

max-height: 100%;     


        
        padding: 0;
        margin: 0;
    }
     #homebottom{
        background-color: rgb(156, 142, 217);
        height: fit-content;
        padding-top:20px ;
        margin: 0;
     }
    #container,#time{
       
        padding-top: 30px;
        margin: 0;
        padding: 0;
        width: 100%;
        
    }
    #time h2,p{
        font-size: small;
       
    }
    #container h2{
        font-size: 20px;
        color: aliceblue;
    
    }
    #container p{
        color: rgb(252, 249, 249);
    }
#container button{
    color: black;
    text-align: center;
margin: 15px 15px;
margin-left: 110px;
}
}