
.navbar{
    display: flex;
    justify-content: space-between;
    /* margin: 20px; */
    background: rgb(39, 26, 48);
    color: rgb(255, 255, 255,2);
    text-decoration: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
    
}
.navbar a{
    scroll-behavior: smooth;
}
.navbar-nav{
    display:flex;
    text-decoration: none;
    margin-right: 50px;
    list-style-type: none;
    color: black;
 
}
.navbar .a{
    width: 50%;
}
.navbar h1{
    color: rgb(255, 251, 251);

}
.navbar span{
    color: rgb(224, 248, 11);
}
.Nav-item
{
    padding:20px;
    color: rgb(252, 250, 250);
    text-decoration: none;
    text-align: center;
    size: 40px;
    transition: 0.5s ease-in-out ;

}

.Nav-item:hover{
    border-bottom:1px double rgb(5, 5, 5,4) ;
    

}
#navcol{
    color: rgb(252, 246, 246,1);
    font-weight: bold;
}
/* .log{
   
    
    float: right;
}
.log button{
    background-color: blue;
    border: none;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px black ;
    color: antiquewhite;
    transition:0.2s ease-in-out;
    text-decoration: none;
    
    
}
.log button:hover{
    background-color: blueviolet;
}
.log #user{
    font-size: larger;
}
.userdetails{
    background-color: rgb(34, 23, 53);
    color: white;
    position: absolute;
    height: 560px;
    right: 0;
    width: 20%;
    
    display: none;
    transition: 0.2s ease-in;
    transition-delay:height .1s;


}
.userdetails:hover{
    height: 560px;
}
.userdetails .icon span{
    background-color: rgb(27, 44, 59);
    color: yellow;
    border-radius: 50%;
    align-items: center;
    padding: 10px 10px;
    margin-right: 10px;
    gap: 10px;
}
#logout{
    margin-top: 60px;
    float: right;
    font-size: larger;
}
#logout span{
    padding-left:20px ;
}
.userdetails .user{
    font-size: 70px;
    margin-bottom: 20px;
}
.userdetails ol{
    list-style-type:none;

}
.userdetails li{
    padding: 20px 10px;
    text-align: left;
    transition: 0.2s ease-in-out;

}
.userdetails li:hover{
transform: scale(1.1);

}
 #logs:hover .userdetails{
    display: block;
   
} */
#login{
    background-color: blue;
    color: white;
    padding: 10px 10px;
    width: 100px;
    border: none;
    margin-right: 10px;
    border-radius: 4px;
}
#login:hover{
    background-color: blueviolet;
}
.dropdown{
    position: relative;
}
.dropdown h3{
    display: none;
}
.drop-content{
    position: absolute;
    flex-direction: column;
    padding: 20px;
    display: none;
   


}
.dropdown:hover .drop-content{
    display: block;
}
.drop-content .navbar-nav{
    display: inline-block;
    size: 20px;
    width: 300px;
    padding: 20px;
    margin: 5px;
    background-color: rgb(37, 25, 61);
    color: white;
    

}
/* .navbar-nav .Nav-item{
    padding: 25px 15px;
    border-radius: 7px;
    
}
.navbar #links{
    transition: ease-in-out;
}
.navbar #links:hover{
border-radius: 7px;
box-shadow: 0px 9px 12px black;
padding: 15px 15px;
margin-top: 10px;
text-align: center;


} */

@media(max-width:900px){

.navbar{
    width: 100%;
    justify-content: space-between;
}
    .navbar #navs,#logs{
        display: none;
    }
    .dropdown h3{
       display: block;
    }
    .navbar h1{
        font-size: medium;
    }
 
}