.create{
    width: 50%;
    height: 100%;
    box-shadow: 0px 2px 3px black;
    text-align: start;
   
    
}
.create h1{
    text-align: center;
}
.create label{
    margin-right: 10%;
    margin-left: 10px;
}
.create input{
    margin: 10px;
    padding: 10px 10px;
    width: 70%;
    border: none;
    border-bottom: 1px solid black;
}
.create .gender input{
    width: 50px;
}
.create textarea{
    margin-top: 10px;
    margin-left: 100px;
    padding-bottom:50px ;
    width: 80%;
    height: 60%;
}
.create button{
    background-color: blue;
    color: white;
    width: 200px;
    padding: 10px 10px;
    margin: 20px;
    border: none;
   justify-self: center;
    cursor: pointer;
    margin-left: 10%;
    text-align: center;
}
.create .country select{
    width: 70%;
    margin: 30px;
    padding: 6px 8px;
}