
.logintime{
    background-color: rgb(49, 49, 49,.8);
    height: 210vh;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(20px);
}


#contact  img{
    

    background-size: contain;
    height: 400px;
    
    width: 100%;
    
}
#contact .design{
    clip-path: polygon(54% 56%, 73% 55%, 100% 100%, 79% 100%);
    position: absolute;
    top: 40%;
    left: 70%;
    right: 0;
    bottom: 0;
    height: 200px;
    width: 150px;
    background-color: yellow;

}
#contact .design1{
    clip-path: polygon(54% 56%, 93% 75%, 100% 100%, 79% 100%);
    position: absolute;
    top: 40%;
    left: 64%;
    right: 0;
    bottom: 0;
    height: 200px;
    width: 150px;
    background-color: yellow;

}
#contact .design2{
    clip-path: polygon(54% 56%, 73% 55%, 100% 100%, 79% 100%);
    position: absolute;
    top: 28%;
    left: 63%;
    right: 0;
    bottom: 0;
    height: 300px;
    width: 220px;
    background-color: rgb(39, 27, 63);

}
#seccontact{
    position: absolute;
    right: 0;
    top: 0;
    margin: 150px;
    

}
h1{
    font-size: 50px;
    
    font-family:Arial, Helvetica, sans-serif;

}
p{
    font-size: 20px;
    word-spacing: 3px;
}



#service{
    margin-top: 50px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.services,#service2{
    display: flex;
    margin-top: 80px;
    justify-self: center;
   padding-left: 30px;
   padding-right: 30px;

}
.services #ser{
    
    padding: 50px;
    width: 60%;
    background-color: aliceblue;
    margin-left: 20px;
    box-shadow: 0px 3px 5px black;
    border-radius: 10px;
    overflow: hidden;
    height: 430px;
    object-fit: contain;
    transition: 0.5s ease-in;
}
#ser:hover{
    transform: scale(1.10);
    background-color: rgb(26, 26, 63);
    color: white;
}
#service2 #ser:hover{
    transform: scale(1.10);
    background-color: rgb(26, 26, 63);
    color: white;
}
#ser img{
    width: 100%;
    height: 170px;
    transition: 0.5s ease-in-out;
}
#ser img:hover{
    transform: scale(1.1);
}
#service2 #ser{
   
    padding: 50px;
    width: 60%;
    background-color: aliceblue;
    margin-left: 20px;
    box-shadow: 0px 3px 5px black;
    border-radius: 10px;
    overflow: hidden;
    height: 430px;
    object-fit: contain;
    transition: 0.5s ease-in;

}

#ser button{
    font-size:small;
    padding: 15px 15px;
    margin: 5px;
    border-radius: 50px;
    
}
#ser button:hover{
    background-color: brown;
    color: white;
}

@media(max-width:500px){
  
    .services,#service2{ 
        flex-direction: column;
        width: 100%;
        padding: 50px;
        margin: 0;
        padding: 15px 15px;
      
    }
   .services #ser{
    margin: 0;
        width: 100%;
        margin-bottom: 20px;
    }
    #service2 #ser{
        width: 100%;
        margin: 0;
            margin-bottom: 20px;
    }
    h1{
        font-size: medium;
    }
     #btn{
        display: flex;
    }
    #contact .design,.design1,.design2{
        display: none;
    }
    .logintime{
        height: 500vh;
    }
}
